<div class="body">
  <div class="login mat-elevation-z8">
    <div class="container">
      <mat-card-title>Nuevo Domiciliario</mat-card-title>
      <br>
      
      <mat-form-field   appearance="outline">
        <mat-label>Nombre Domiciliario</mat-label>
        <input
          [(ngModel)]="registerDate.name"
          matInput
          placeholder="Nombre"
          required
        />
      </mat-form-field>


      <mat-form-field   appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="registerDate.email"
          matInput
          type="email"
          placeholder="Correo"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input
          [(ngModel)]="registerDate.phone"
          matInput
          type="number"
          placeholder="Celular"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          [(ngModel)]="registerDate.password"
          matInput
          type="password"
          placeholder="Password"
          required
        />
      </mat-form-field>
       

      <button (click)="saveUser()" class="button" mat-raised-button>
        Registrar
      </button>
    </div>
  </div>
</div>
