<div class="body">
  <div class="login mat-elevation-z8">
    <div class="container">
      <mat-card-title>Nuevo cliente</mat-card-title>
      <br>
      
      <mat-form-field   appearance="outline">
        <mat-label>Nombre Cliente</mat-label>
        <input
          [(ngModel)]="registerDate.name"
          matInput
          placeholder="Nombre" 
        />
      </mat-form-field>  
      <mat-form-field   appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="registerDate.email"
          matInput
          type="email"
          placeholder="Correo" 
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input
          [(ngModel)]="registerDate.phone"
          matInput 
          placeholder="Celular" 
        />
      </mat-form-field>
       

      <button (click)="saveUser()" class="button" mat-raised-button>
        Registrar
      </button>
    </div>
  </div>
</div>
