.bgShearch {
  background-color: #ffffff;
  color: #000000;
  /* margin-top: 0%;*/
  margin-bottom: 1%;
  width: 30%;
} 
td,
th {
  width: 10%;
}

.bgComponent {
  background-color: #ffffff; 
  margin: 5px;
  height: 100%;
  padding-bottom: 30%; 
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 16px 0px;
  max-width: 100%;
  justify-content: center;
}
